$container: 0.5;
$min: 320px;
$div_width: 1;
$section: $container / 2 - 20;

$radius: 4px;

$rem: 14px;

$light_grey: rgb(249, 249, 249);
$grey: #ccc;

@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

@mixin drop-shadow {
  @include box-shadow(
    0 1px 0 rgba(255,255,255,0.75),
    inset 0 1px 3px rgba(0,0,0,0.2)
  );
}

@mixin border($color: $grey, $radius: $radius) {
  border: 1px solid $color
  {
    radius: $radius;
  }
}

@mixin gradient {
  @include background-image(linear-gradient($light_grey, darken($light_grey, 8%)));
}
