@import "compass/reset";
@import "base";
@import "fonts";

#container {
	/*overflow: hidden;*/
	word-wrap: break-word;
	margin: 0 auto;
	/*width: percentage($container); */
	@include gradient;
	/*padding:3px;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*padding:;*/
	/*-moz-box-sizing: border-box;
    box-sizing: border-box;*/
    min-height:50px;
	height:auto !important;
	height:50px; 
	
	height: 100%;

}
#wrapper {
	width:90%;
	margin: 0 auto;
	min-height:50px;
	height:auto !important;
	height:50px; 
	overflow:hidden;
}
.searchholder input[type="text"] {
	width:70%;
	 -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.searchholder {
	width:80%;
	margin: 0 auto;	
	font-family: "Colaborate";

}
.title {
	text-align:center;
	margin-bottom:5px;
	text-decoration:underline;
}

#panel-tab {
	height: 30px;
	width: 40px;
	position: absolute;
	bottom: 0px;
	right: -40px;
	background-color: #000000;
	text-decoration: none;
	color: #FFFFFF;
}
.div1 {
	width: percentage($div_width);
	@include border;
	@include box-sizing(border-box);
	position: relative;
	word-wrap: break-word;
	padding:5px;
} 

.div2 {
	width: percentage($div_width / 2);
	float:left;
	@include border;
	@include box-sizing(border-box);
	position: relative;
	padding:5px;
} 

.div3 {
	width: percentage($div_width / 3);
	float:left;
	@include border;
	@include box-sizing(border-box);
	position: relative;
	padding:5px;
} 

.div4 {
	width: percentage($div_width / 4);
	float:left;
	@include border;
	@include box-sizing(border-box);
	position: relative;
	padding:5px;
}
.div5 {
	width: 200px;
	float:left;
	@include border;
	@include box-sizing(border-box);
	position: relative;
	padding:5px;
}

.prof_img {
	border:1px solid grey;
	float:left;
	margin-right:10px;
	/*position:absolute;
	top:5px;*/
}
.tweet {
	margin-bottom:5px;
	position:relative;
	background: #F3F3F3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DEDEDE)); 
	background-image: -webkit-linear-gradient(top, #FFFFFF, #DEDEDE); 
	background-image: -moz-linear-gradient(top, #FFFFFF, #DEDEDE); 
	background-image: -ms-linear-gradient(top, #FFFFFF, #DEDEDE); 
	background-image: -o-linear-gradient(top, #FFFFFF, #DEDEDE); 
	background-image: linear-gradient(top, #FFFFFF, #DEDEDE);
	min-height:50px;
	height:auto !important;
	height:50px; 
	padding:3px;
	border: 1px solid black;
}

.tweet_content {
	margin-left:10px;
	word-wrap: break-word;
	/*	border:1px dashed green;*/
}
.tweet_details {
	display:none;
	font-family: 'Argh';
	color:#aaaaaa;
	margin-left:10px;
	margin-top:2px;
	font-size:0.8em;
}
.user a{
	float:right;
	font-family: 'Argh';
	color:#aaaaaa;
}
.found_word {
	color:red;
	text-decoration:italic;
}
#logo {
	width:25%;
	height:132px;
	margin:0 auto;
	margin-bottom:15px;
	background-image:url('../img/logo2.jpg');
	/*padding:2px;*/
}
#prev{
position: absolute;
top:180px;
}
#next{
position: absolute;
top:180px;
right:0px;
}
#add {
	width:15px;
}
input[type="submit"] {
	font-family:"Icons";
}

