<div id="logo"></div>
<div id="add"><input type="button" id="add_btn" value="New" /></div>
<div id="wrapper">
<div id="container">
</div>
</div>

<div id="template" class="div1">
	<div class="searchholder"><input placeholder="Recherche..." type="text" name="request" />
		<input type="button"  name="start" class="search" value="M" /><input type="button" class="tweet_remove" value="X" /></div>
		<div class="title"></div>
		<div class="content"></div>
</div>

<!-- <div class="tab_template"><a href="#" class="tab"></a>
	<p>Search</p>
</div> -->

<div id="prev"><input type="image" id="prev_btn" src="img/a_left.png" value="prev" /></div>
<div id="next"><input type="image" id="next_btn" src="img/a_right.png" value="next" /></div>
<br><br>
