<div id="logo"></div>
<div id="container">
		<div><input type="button" id="add" value="New" /></div>
		<div id="template" id="1" class="div1">
			<div class="searchholder"><input placeholder="Recherche..." type="text" name="request" />
			<input type="button"  name="start" class="search" value="M" /></div>
			<div class="title"></div>
			<div class="content"></div>
		</div>
	</div>
	<div id="right_panel"> <a href="#" id="paneltab">Click</a><p></p></div>
	 <div id="panel">
      <a href="#" id="panel-tab">1</a>
      <p>Search</p>
    </div>
    <!-- <input type="button" id="addd" value="add item">
	<div id="items"></div> -->
  