<div id="logo"></div>
<div id="container">
	<div id="toto"><input type="button" id="add" value="New" /></div>
	
	</div>
	
	<div id="panel">
		<a href="#" id="paneltab">1</a>
		<p>Search</p>
	</div>

<div id="template" class="div1">
		<div class="searchholder"><input placeholder="Recherche..." type="text" name="request" />
			<input type="button"  name="start" class="search" value="M" /><input type="button" class="tweet_remove" value="X" /></div>
		<div class="title"></div>
		<div class="content"></div>
		</div>